@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab";
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1a1e23;
    overflow-y: hidden;
}

nav.navbar.navbar-expand-md {
    background-color: #97A6A0;
    width: 100vw;
}


#mainContent {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: black;
}

a:hover {
    color: white;
}

.container {
    position: relative;
    background-color: #97A6A0;
    width: 80vw;
    min-width: 500px;
    height: 75vh;
    overflow-y: auto;
    opacity: 0.95;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2);
    margin: 0vh 10vw;
}

.v-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

/* Making Section Titles Stuck to Top  */
.on-top {
    position: sticky;
    top: 0;
    background-color: #97A6A0;
    z-index: 2;
}


/* Errors for Login // Signup */
.errorlist {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

/* Buttons */
.btn {
    margin-bottom: 2vh;
}


/* Dropdown menu */
.dropdown-menu.show {
    background-color: #bbc4c0;
}

/* Centering & Altering Text */
.center {
    text-align: center;
}

.main-header {
    padding: 0.3em 0em;
}

.bold {
    font-weight: bold;
}


/* Changing form textarea size */
textarea {
    height: 18vh;
}

/* Trying to make table rows clickable // Table */
.table td.linking {
    padding: 0;
}

td a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
}

td a:hover {
    color: black;
    text-decoration: none;
}

.edit-button:hover {
    transform: scale(1.1);
    color: white;
}


tbody {
    background-color: #bbc4c0;
}

/* Form Check */
.form-check {
    min-height: 0;
}

/* Editing Bootstrap Card Body */
.card-body {
    background-color: #bbc4c0;
}

.sub-text {
    font-size: 0.9em;
}

/* Notes && Sidebar */
.sidebar {
    background-color: #bbc4c0;
}

.sidebar aside p {
    font-weight: bold;
    font-size: 1.25rem;
    padding-top: 1vh;
}

.sidebar aside ul li:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.10);
}

.sidebar aside ul li:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidebar aside ul li a {
    text-decoration: none;
}

.no-decor {
    text-decoration: none;
}

.row {
    height: 100%;
}

.notes_textarea {
    padding-top: 1vh;
}

.notes_textarea p textarea {
    height: 53vh;
    min-height: 20vh;
}

.note-width {
    width: 95%;
}

.notes_textarea p label {
    font-weight: bold;
}

/* Gnatt Chart */
.gnatt-chart-container{
    display: grid;
    grid-template-columns: 2fr repeat(12, 1fr);
    background-color: #bbc4c0;
}

.first-row {
    background-color: rgba(255, 255, 255, 0.8);
}

.first-col {
    grid-column: 1/2;
}

.gnatt-chart-container > div:nth-child(4n + 14) {
    background-color: rgba(0, 0, 0, 0.10);
}

.gnatt-chart-container > div:nth-child(4n + 16) {
    background-color: rgba(0, 0, 0, 0.05);
}


.gantt-bar {
    background-color:white;
    height: 1.25vh;
    border-radius: 10px;
}


/* Making Bubbles CSS */

.bubbles {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.bubble {
    position: absolute;
    z-index: -1;
    left: var(--bubble-left-offset);
    bottom: -75%;
    display: block;
    width: var(--bubble-radius);
    height: var(--bubble-radius);
    border-radius: 50%;
    animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;
}

.bubble::before {
    position: absolute;
    content: "";
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background: rgba(136, 246, 251, 0.3);
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
}

.bubble:nth-child(0) {
    --bubble-left-offset: 100vw;
    --bubble-radius: 7vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 1s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(1) {
    --bubble-left-offset: 39vw;
    --bubble-radius: 7vw;
    --bubble-float-duration: 7s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 2s;
    --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(2) {
    --bubble-left-offset: 73vw;
    --bubble-radius: 10vw;
    --bubble-float-duration: 10s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 3s;
    --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(3) {
    --bubble-left-offset: 94vw;
    --bubble-radius: 2vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(4) {
    --bubble-left-offset: 24vw;
    --bubble-radius: 3vw;
    --bubble-float-duration: 12s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 1s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(5) {
    --bubble-left-offset: 57vw;
    --bubble-radius: 2vw;
    --bubble-float-duration: 6s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(6) {
    --bubble-left-offset: 56vw;
    --bubble-radius: 2vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(7) {
    --bubble-left-offset: 4vw;
    --bubble-radius: 1vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 1s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(8) {
    --bubble-left-offset: 85vw;
    --bubble-radius: 7vw;
    --bubble-float-duration: 10s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(9) {
    --bubble-left-offset: 52vw;
    --bubble-radius: 9vw;
    --bubble-float-duration: 7s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 2s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(10) {
    --bubble-left-offset: 11vw;
    --bubble-radius: 1vw;
    --bubble-float-duration: 6s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(11) {
    --bubble-left-offset: 28vw;
    --bubble-radius: 4vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 2s;
    --bubble-sway-delay: 3s;
    --bubble-sway-type: sway-left-to-right;
}

.bubble:nth-child(12) {
    --bubble-left-offset: 15vw;
    --bubble-radius: 10vw;
    --bubble-float-duration: 6s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 1s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
}

.bubble:nth-child(13) {
    --bubble-left-offset: 41vw;
    --bubble-radius: 6vw;
    --bubble-float-duration: 7s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-left-to-right;
}

@keyframes float-up {
    to {
        transform: translateY(-175vh);
    }
}

@keyframes sway-left-to-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes sway-right-to-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}
