{% extends 'base.html' %}

{% block content %}
    <h1 class="main-header center on-top">My Tasks</h1>
    {% if tasks_object.all|length != 0 %}
        {% for task in tasks_object.all %}
        <div class="card">
            <div class="card-header d-flex">
                <div><b>{{task.name}}</b> ({{task.project.name}})</div>
                <div class="ms-auto sub-text">Status:
                    {% if task.is_completed %}
                    Done
                    {% else %}
                    Incomplete
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{task.description}}</p>
                <div class="d-flex">
                    <a href="{% url 'show_notes' task.id %}" class="pe-1"><i class="fa-solid fa-note-sticky"></i></a>
                    <a href="{% url 'edit_task' task.id %}"><i class="fas fa-edit"></i></a>
                    <p class="card-text ms-auto sub-text">Due Date: {{task.due_date|date:"m/d/y"}}</p>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    {% else %}
        <p>You have no tasks</p>
    {% endif %}
{% endblock content %}
