{% extends 'base.html' %}

{% block content %}
    <h1 class="main-header center">My Projects</h1>
    {% if projects.all|length == 0 %}
        <p>You are not assigned to any projects</p>
    {% else %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td class="linking">
                            <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                        </td>
                        <td class="linking">
                            <a href="{% url 'show_project' project.id %}">{{ project.tasks.all|length }}</a>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td colspan="100" class="linking">
                            <a href="{% url 'create_project' %}" class="center"><b>Create a new project</b></a>
                        </td>
                    </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock content %}
