{% extends 'base.html' %}
{% load gantt_chart %}

{% block content %}
    <h1 class="main-header center">{{ project_object.name }}</h1>
    <p class="center">
        Owner: {{ project_object.project_manager }}<br>
    </p>
    <p class="center">
        {{ project_object.description }}
    </p>
    <h2 class="center">Tasks</h2>
    {% if project_object.tasks.all|length != 0 %}
        <table class="table table-striped" id="remove-bottom-border">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Complete?</th>
                </tr>
            </thead>
            <tbody>
                {% for tasks in project_object.tasks.all %}
                    <tr>
                        <td>{{ tasks.name }}</td>
                        <td>{{ tasks.assignee }}</td>
                        <td>{{ tasks.start_date }}</td>
                        <td>{{ tasks.due_date }}</td>
                        <td>{{ tasks.is_completed }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="gnatt-chart-container">
            <div class="first-row"></div>
            <div class="first-row">Jan</div>
            <div class="first-row">Feb</div>
            <div class="first-row">Mar</div>
            <div class="first-row">Apr</div>
            <div class="first-row">May</div>
            <div class="first-row">Jun</div>
            <div class="first-row">Jul</div>
            <div class="first-row">Aug</div>
            <div class="first-row">Sep</div>
            <div class="first-row">Oct</div>
            <div class="first-row">Nov</div>
            <div class="first-row">Dec</div>
            {% for tasks in project_object.tasks.all %}
            {% date_start_end tasks as rows %}
            <div class="first-col">{{ tasks.name }}</div>
            <div class="my-auto gantt-bar" style="grid-column:{{ rows.row_start }}/{{rows.row_end}};"></div>
            {% endfor %}
        </div>
        <br>
    {% else %}
        <p class="center">This project has no tasks</p>
        <p class="center">
            <a href="{% url 'create_task' %}" class="center bold"><b>Create a new task</b></a>
        </p>
    {% endif %}
{% endblock content %}
